:host {
    --shell-margin: 25px;
    --shell-background: #333;
    --shell-terminal-background: #222;
    --shell-terminal-color: #eee;
    --shell-logo-color: #FF4180;
    --shell-prompt-color: #75DF0B;
    --shell-path-color: #1BC9E7;

    margin: 0;
    padding: 0;
    background: var(--shell-background);
    color: var(--shell-terminal-color);
    font-family: monospace;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
    container-type: size;

    --calculated-margin: var(--shell-margin);
}

*::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #353535;
}

*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 8px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #bcbcbc;
}

#shell {
    background: var(--shell-terminal-background);
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    font-size: 10pt;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: calc(100% - 2 * var(--calculated-margin));
    max-height: calc(100% - 2 * var(--calculated-margin));
    resize: both;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: var(--calculated-margin) auto;
}

#shell-content {
    overflow: auto;
    padding: 5px;
    white-space: pre-wrap;
    flex-grow: 1;
}

#shell-logo {
    font-weight: bold;
    color: var(--shell-logo-color);
    text-align: center;
}

#shell-logo div {
    text-align: left;
    display: inline-block;
}

@container (min-width: 1200px) {
    #shell {
        --calculated-margin: calc(var(--shell-margin) * 2) !important;
    }
}

@container (max-width: 991px) or (max-height: 600px) {
    #shell-logo {
        font-size: 6px;
        margin: -25px 0;
    }

    #shell {
        --calculated-margin: 0 !important;
        resize: none;
    }
}

@container (max-width: 767px) {
    #shell-input {
        flex-direction: column;
    }
}

@container (max-width: 320px) {
    #shell-logo {
        font-size: 5px;
    }
}

.shell-prompt {
    font-weight: bold;
    color: var(--shell-prompt-color);
}

.shell-prompt > span {
    color: var(--shell-path-color);
}

#shell-input {
    display: flex;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
    border-top: rgba(255, 255, 255, .05) solid 1px;
    padding: 10px 0;
}

#shell-input > label {
    flex-grow: 0;
    display: block;
    padding: 0 5px;
    height: 30px;
    line-height: 30px;
}

#shell-input #shell-cmd {
    height: 30px;
    line-height: 30px;
    border: none;
    background: transparent;
    color: #eee;
    font-family: monospace;
    font-size: 10pt;
    width: 100%;
    align-self: center;
    box-sizing: border-box;
}

#shell-input div {
    flex-grow: 1;
    align-items: stretch;
}

#shell-input input {
    outline: none;
}
